.contenedor-cards {
    margin: 1% 3% 2% 3%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor-cards .card {
    width: 400px;
    height: 200px;
    margin: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: 2px 2px 5px #666;
}

.contenedor-cards .card .img-producto {
    width: 40%;
    height: 90%;
    margin: 3%;
    display: flex;
    justify-content: center;
}

.contenedor-cards .card .img-producto img {
    max-width: 100%;
    height: 100%;
    margin: auto;
}

.contenedor-cards .card .contenido-card {
    width: 45%;
    height: 90%;
    margin: 3% 3% 3% 0;
}